.answer_container{
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: #f0f8ff;
    padding: .5em;
    border-radius: .8em;
    cursor: pointer;
    width: 100%;
    transition: .3s ease-in-out;
    
    &.chosen{
        background-color: #aaaa9c;
    }

    &:hover:not(.chosen){
        background-color: pink;
    }

    &:hover{
        transform: translate(-8px, -5px) scale(1.02);
        box-shadow: 4px 4px 5px #00000050;
    }

    .answer_letter{
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        padding: .5em .8em;
        font-size: 1.3em;
        font-weight: 700;
    }

    .answer_alternative{
        font-size: 1.2em;
    }
}