@use "../../dirs/variables";

.quiz_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    background-color: variables.$primary_color;
    padding: 2em;
    border-radius: 0.8em;
    max-width: 800px;
    min-height: 400px;

    &,
    .answer_container,
    .question_container,
    .question_wrapper {
        width: 100%;
    }

    .question_container {
        background-color: #f0f8ff;
        border-radius: 0.5em;
        padding: .5em .8em;
        font-size: 1.5em;
        min-height: 150px;
    }

    .question_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1em 2em;
    }
}

@media screen and (max-width: 768px) {
    .quiz_container{
        .question_wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
